extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	.login
		ul.nav
			li.number.active
				span 1
			li.number
				span 2
			li.number
				span 3
			li.number
				span 3
			li.number
				span 3
			li.number
				span 3
			li.number
				span 3
		ul.bt
			li.back
				button.btn.btn-primary(type="button") back
			li.next
				button.btn.btn-primary(type="button") next
	.loginform
		.box
			.boxinner
				h2
					span Login
				form(autocomplete="off")
					.form-group
						.boxinput
							input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='',autocomplete="nope")
							label(for='exampleInputEmail1') Email address
						small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
					.form-group
						.boxinput
							input#exampleInputPassword1.form-control(type='password', placeholder='',autocomplete="new-password")
							label(for='exampleInputPassword1') Password
					.form-group.form-check
						input#exampleCheck1.form-check-input(type='checkbox')
						label.form-check-label(for='exampleCheck1') Check me out
					button.btn.btn-primary(type='submit') Submit
