//- <!-- ////////////// FOOTER ////////////// -->
//- footer.pt-4.my-md-5.border-top
//- 	.container
//- 		.row
//- 			.col
//- 				h2
//- 		.row
//- 			.col-12.col-md
//- 				img.mb-2(src="./img/logo.png" alt="")
//- 				small.d-block.mb-3.text-muted Copyright 2018 by 
//- 					a(href='/') FullStack Vietnam.
//- 			.col-6.col-md
//- 				h5 Features
//- 				ul.list-unstyled.text-small
//- 					li
//- 						a.text-muted(href="javascript:void(0)" onclick="getContent(this)" data-bg="#000" data-bo="#fff") Cool stuff
//- 					li
//- 						a.text-muted(href="javascript:void(0)" onclick="getContent()" data-bg="#000" data-bo="#fff") Random feature
//- 					li
//- 						a.text-muted(href="javascript:void(0)" onclick="getContent()" data-bg="#000" data-bo="#fff") Team feature
//- 					li
//- 						a.text-muted(href="javascript:void(0)" onclick="getContent()" data-bg="#000" data-bo="#fff") Stuff for developers
//- 					li
//- 						a.text-muted(href="javascript:void(0)" onclick="getContent()" data-bg="#000" data-bo="#fff") Another one
//- 					li
//- 						a.text-muted(href="javascript:void(0)" onclick="getContent()" data-bg="#000" data-bo="#fff") Last time
//- 			.col-6.col-md
//- 				select.abc
//- 					option(value="1") 1
//- 					option(value="2") 2
//- 					option(value="3") 3
//- 					option(value="4") 4
